[submodule "INA-Infra-oai-slice-implementation"]
	path = INA-Infra-oai-slice-implementation
	url = https://github.com/FCCLab/INA-Infra-oai-slice-implementation.git
	branch = main
[submodule "repos/mgmt"]
	path = repos/mgmt
	url = https://github.com/FCCLab/INA-Infra-mgmt.git
	branch = main
[submodule "repos/central-repo"]
	path = repos/central-repo
	url = https://github.com/FCCLab/INA-Infra-central-repo.git
	branch = main
[submodule "repos/regional-repo"]
	path = repos/regional-repo
	url = https://github.com/FCCLab/INA-Infra-regional-repo.git
	branch = main
[submodule "repos/edge-repo"]
	path = repos/edge-repo
	url = https://github.com/FCCLab/INA-Infra-edge-repo.git
	branch = main
[submodule "ina-infra/frontend/neuroran-ui-ux"]
	path = ina-infra/frontend/neuroran-ui-ux
	url = https://github.com/FCCLab/neuroran-ui-ux.git
[submodule "third_party/INA-Infra-ran-oai-operators"]
	path = third_party/INA-Infra-ran-oai-operators
	url = https://github.com/FCCLab/INA-Infra-ran-oai-operators.git
[submodule "third_party/INA-Infra-5gc-oai-packages"]
	path = third_party/INA-Infra-5gc-oai-packages
	url = https://github.com/FCCLab/INA-Infra-5gc-oai-packages
