apiVersion: v1
kind: Namespace
metadata:
  name: {{ namespace }}
  labels:
    app.kubernetes.io/name: {{ namespace }}
    app.kubernetes.io/part-of: ina-infra
    ina-infra.nephio.lab/profile: {{ namespace }}
