apiVersion: v1
kind: ConfigMap
metadata:
  name: ina-pl-placement
  namespace: {{ namespace }}
  labels:
    app.kubernetes.io/name: ina-pl-placement
    app.kubernetes.io/part-of: ina-infra
data:
  placement.json: |
{{ placement_json | indent(4, first=True) }}
  summary.txt: |
{{ summary_txt | indent(4, first=True) }}
